{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goSocial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/4430c6a384.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <nav>
        <div class="nav-left">
            <img src="{% static 'assets/images/LionMask.jpg' %}" class="logo">
            <h2 class="goSocial-logo"><a href="/" class="home-link">goSocial</a></h2>
            <!-- <ul>
                <li><img src="{% static 'assets/images/notification.png' %}"></li>
                <li><img src="{% static 'assets/images/inbox.png' %}"></li>
                <li><img src="{% static 'assets/images/video.png' %}"></li>
            </ul> -->
        </div>
        <div class="nav-right">
        <form action="/search" method="POST">
            {% csrf_token %}
            <div class="search-box">
                <input type="text" name="username" placeholder="Search User">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="{{user_profile.profilePic.url}}">
            </div>

        </div>

        <!-- settings-menu -->

        <div class="settings-menu">

            <div id="dark-btn">
                <span></span>
            </div>

            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img class="setting-profile" src="{{user_profile.profilePic.url}}">
                    <div>
                        <p>robeen.gyawali</p>
                        <a href="profile/{{user}}">Profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="{% static 'assets/images/feedback.png' %}">
                    <div>
                        <p>Feedback</p>
                        <a href="#">Help us improve</a>
                    </div>
                </div>
                <hr>

                <div class="setting-links">
                    <i class="fa-solid fa-gear settings-icons settings-icons"></i>
                    <a href="settings">Profile Settings <i class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="setting-links">
                    <i class="fa-solid fa-circle-info settings-icons settings-icons"></i>
                    <a href="#">Help & Support <i class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="setting-links">
                    <i class="fa-solid fa-moon settings-icons settings-icons"></i>
                    <a href="#">Display & Accessiblity<i class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="setting-links">
                    <i class="fa-solid fa-arrow-right-from-bracket settings-icons settings-icons"></i>
                    <a href="logout">Log Out<i class="fa-solid fa-angle-right"></i></a>
                </div>


            </div>
        </div>

    </nav>

    <div class="container">


        <!-- left sidebar -->
        <div class="left-sidebar">
            <!-- <div class="imp_links">
                <a href="#"><img src="{% static 'assets/images/ehehehe.jpg' %}">Mr. Incredible</a>
                <a href="#"><img src="{% static 'assets/images/sad_cry.png' %}">Sad Cry</a>
                <a href="#"><img src="{% static 'assets/images/mp.png' %}">Microprocessor</a>
                <a href="#"><img src="{% static 'assets/images/tomscrush1.jpg' %}">Tom the Great</a>
                <a href="#"><img src="{% static 'assets/images/ehhiss.jpg' %}">The slapper</a>
                <a href="#">See More</a>
            </div> -->
            <div class="shortcut-links">
                <p>Your Shortcuts</p>
                <a href="https://www.youtube.com/" target="_blank"><img src="{% static 'assets/images/youtube.jpg' %}">YouTube</a>
                <a href="https://www.facebook.com/"><img src="{% static 'assets/images/facebook.png' %}">Facebook</a>
                <a href="https://www.instagram.com/"><img src="{% static 'assets/images/instagram.jpg' %}">Instagram</a>
                <a href="https://mail.google.com/"><img src="{% static 'assets/images/gmail.png' %}">Gmail</a>
            </div>
        </div>


        <!-- main content -->
        <div class="main-content">

            <!-- story gallery -->

            <!-- <div class="story-gallery"> -->

                <!-- story no 1 -->

                <!-- <div class="story story1">
                    <img src="{% static 'assets/images/upload.png' %}">
                    <p>Post Story</p>
                </div> -->
                 <!-- story no 2 -->

                 <!-- <div class="story story2">
                    <img src="{% static 'assets/images/tomscrush.jpg' %}">
                    <p>Thomas Villa</p>
                </div> -->
                 <!-- story no 3 -->

                 <!-- <div class="story story3">
                    <img src="{% static 'assets/images/maafkarns.jpg' %}">
                    <p>Forgive Me</p>
                </div> -->
                 <!-- story no 4 -->

                 <!-- <div class="story story4">
                    <img src="{% static 'assets/images/goldenme.jpg' %}">
                    <p>Man of Gold</p>
                </div> -->
                 <!-- story no 5 -->

                 <!-- <div class="story story5">
                    <img src="{% static 'assets/images/notification.jpg' %}">
                    <p>Jerry Lawyer</p>
                </div> -->
            <!-- </div> -->

            <div class="write-post-container">
                <div class="user-profile">
                    <img class="post-profile" src="{{user_profile.profilePic.url}}">
                    <div>
                        <p> from <b>{{user.username}}</b></p>
                        <small>To the followers <i class="fa-solid fa-caret-down"></i></small>
                    </div>
                </div>
                <div class="post-input-container">
                    <form action="upload" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="caption" rows="3" placeholder="Caption your post!" required></textarea>
                        <div class="add-post-links">
                            <!-- <a href="#"><img src="{% static 'assets/images/live-video.png' %}">Live Video</a> -->
                            <a><img src="{% static 'assets/images/photo.png' %}"><input type="file" name="image_upload" class="custom-file-input" required></a>
                            <!-- <a href="#"><img src="{% static 'assets/images/feeling.png' %}">Activity</a> -->
                            <button type="submit"><i class="fa-solid fa-arrow-up-from-bracket"></i> Post</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- posts start from here!!-->

            <!-- post number 1 -->
            {% for post in posts reversed %}
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <!-- <img src="{% static 'assets/images/received_360758301727209.jpeg' %}"> -->
                        <div>
                            <p><a href="/profile/{{post.user}}">@{{post.user}}</a></p>
                            <span>{{post.created_at}}</span>
                        </div>
                    </div>
                    <a href="{{post.image.url}}" download><i style="cursor: pointer;" class="fa-solid fa-cloud-arrow-down"></i></a>
                </div>

                <p class="post-text">{{post.caption}}</p>
                <img src="{{post.image.url}}" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        {% if post.likies_no == 0 %}
                        <div><a href="like-post?post_id={{post.id}}"><i class="fa-solid fa-heart" id="like-button" ></i></a> No likes</div>
                        {% elif post.likies_no == 1 %}
                        <div><a href="like-post?post_id={{post.id}}"><i class="fa-solid fa-heart" id="like-button"></i></a>  1 like</div>
                        {% else %}
                        <div><a href="like-post?post_id={{post.id}}"><i class="fa-solid fa-heart" id="like-button"></i></a>  {{post.likies_no}} likes</div>
                        {% endif %}
                        <!-- <div><i class="fa-regular fa-comment"></i> 1k</div>
                        <div><i class="fa-solid fa-share"></i> 100</div> -->
                    </div>
                    <div class="post-profile-icon">
                        <img src="{{user_profile.profilePic.url}}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- right sidebar -->
        <div class="right-sidebar">


            <!-- title-1 suggestions -->


            <div class="sidebar-title">
                <h4>Suggestions</h4>
                <!-- <a href="#">See All</a> -->
            </div>
            <!-- suggestion_1 -->
            {% for suggestion in suggestions_username_profile_list %}
            <div class="suggestions">
                <div class="left-suggestion">
                    <!-- <h3>18</h3>
                    <span>March</span> -->
                    <img src="{{suggestion.profilePic.url}}">
                </div>
                <div class="right-suggestion">
                    <h4>{{suggestion.user}}</h4>
                    <p><i class="fa-solid fa-location-pin"></i> {{suggestion.location}}</p>
                    <a href="/profile/{{suggestion.user}}"><i class="fa-solid fa-biohazard"></i>Spy</a>
                </div>
            </div>
            {% endfor %}
            

            <!-- title_2 advertisements-->
            <div class="sidebar-title">
                <h4>Advertisements</h4>
                <!-- <a href="#">close</a> -->
            </div>
            <img src="{% static 'assets/images/house_of_icon.png' %}" class="sidebar-ads">
            <p>For advertisement contact via email!</p><p><i class="fa-solid fa-envelope"></i> robeen.smiles@gmail.com</p>


            <!-- title_3 Chatbox-->

            <!-- <div class="sidebar-title">
                <h4>Chat Box</h4>
                <a href="#">Hide Chats</a>
            </div> -->

<!-- user--online  1-->
            <!-- <div class="online-list">
                <div class="online">
                    <img src="{% static 'assets/images/ehhiss.jpg' %}">
                </div>
                <p>Will Smith</p>              
            </div> -->
<!-- user--online  2-->
            <!-- <div class="online-list">
                <div class="online">
                    <img src="{% static 'assets/images/ehehehe.jpg' %}">
                </div>
                <p>Incredible dad</p>              
            </div> -->
<!-- user--online  3-->
            <!-- <div class="online-list">
                <div class="online">
                    <img src="{% static 'assets/images/Pencil_gra_!.jpg' %}">
                </div>
                <p>pencil parsad</p>              
            </div> -->


        </div>


    </div>

<!-- copyright message -->

    <div class="footer">
        <p><i class="fa-solid fa-copyright"></i> Copyright 2022 - Robeen Gyawali</p>
    </div>
<script src="{% static 'js/script.js' %}"></script>
<style>
    .story1{
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) ), url("{% static 'assets/images/received_360758301727209.jpeg' %}");
    }
    .story2{
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) ), url("{% static 'assets/images/tomscrush.jpg' %}");  
    }
    .story3{
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) ), url("{% static 'assets/images/maafkarns.jpg' %}"); 
    }
    .story4{
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) ), url("{% static 'assets/images/goldenme.jpg' %}");  
    }
    .story5{
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) ), url("{% static 'assets/images/notification.jpg' %}");
    }
</style>

</body>
</html>